In [1]:
import pandas as pd

In [3]:
df1 = pd.read_csv('./data/item_categories.csv',encoding='utf-8-sig')

In [4]:
df1

           item_category_name  item_category_id
0     PC - Гарнитуры/Наушники                 0
1            Аксессуары - PS2                 1
2            Аксессуары - PS3                 2
3            Аксессуары - PS4                 3
4            Аксессуары - PSP                 4
..                        ...               ...
79                  Служебные                79
80         Служебные - Билеты                80
81    Чистые носители (шпиль)                81
82  Чистые носители (штучные)                82
83           Элементы питания                83

[84 rows x 2 columns]

In [5]:
df.to_csv("movie.csv", index=False, encoding="utf-8-sig")